.idle video, canvas {
    display: none;
}

.idle img {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.inCall video {
    display: block;
    width: 320px;
    height: 240px;
}

.inCall img {
    display: none;
}

.user {
    width: 340px;
    position:relative;
    display: inline-block;
}

.contentarea {
    font-size: 16px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    width: 760px;
}

.user #updateButton {
    display:none;
}

.user:hover #updateButton {
    display:block;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    bottom:120px;
    left:129px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
}

.user .callButton {
    display:none;
}

.user:hover .callButton {
    display:block;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    bottom:120px;
    left:129px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgba(255, 255, 255, 1.0);
}
